Source: ainyava-gnome
Maintainer: Hamed Mahmoudkhnai <ainyava@gmail.com>
Standards-Version: 0.0.2
Build-Depends: debhelper-compat (=10)

Package: ainyava-gnome
Architecture: all
Description: Ainyava theme for Gnome
